*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.shape {
  height: 100vh; 
  width: auto; 
  object-fit: cover;
}

.rectangleShape {
    position: absolute;
    top: 60px; 
    left: 50px; 
    width: 500px;  
    height: 800px; 
    background-color: rgba(13, 13, 13, 1); 
    border-radius: 40px;
}
.overlayImage {
    position: absolute;
    top: 200px;  
    left: 0; 
    width: 500px;  
    height: 600px; 
    border-radius: 40px;
  }
  .dash{
    height: 5px;
    width: 35px;
    background-color: #FFB400;
    margin-top: 25px;
  }
  .name{
      font-weight: bold; 
  background: linear-gradient(45deg, #ffb400, #ffc41d, #ffd332, #ffe345, #ffde44, #ffc535, #ffab2c, #ff912a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 50px;
  }
  .des{
    color: #666666;
    margin-left: 50px;
    font-size: 50px;
    margin-left: 200px;
  }
  .intro{
    font-size: 25px;
    color: #666666;
    margin-left: 150px;
  }
  .cylinderButton{
    display: flex;
    column-gap: 10px;
    margin-top: 400px;
    border-radius: 50px;
    border: solid 1px #FFB400;
    height: 50px;
    width: 150px;
    transition: background-color 0.2s;
  }
  .circle{
    position: relative;
    border-radius: 100%;
    background-color: #FFB400;
    height: 50px;
    width: 50px;
    margin-left: 5px;
    cursor: pointer;
  }
  .cylinderButton:hover {
    background-color: #ffb400;
  }

.cylinderButton:hover .clickForMore {
    color: white; 
  }
  
.rightArrow{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 39px;
    width: 39px;
}
.clickForMore{
    font-size: 15px;
    margin-left: 15px;
    margin-top: 18px;
    color: #666666;
    transition: color 0.2s;

}
.landing-container {
  display: flex;
  column-gap: 220px;
}

.landing-content {
  display: flex;
  column-gap: 100px;
}

.image-section {
  position: relative;
}

.name-container {
  display: flex;
  column-gap: 15px;
  margin-top: 300px;
  margin-left: 150px;
}

.navbar-section {
  margin-top: 280px;
}
.typewriter-container {
  width: 600px; 
  text-align: left; 
  overflow: hidden;
}

@media (min-width: 768px) {
  
}
