.circleContainercontact2{
    border-radius:100%; 
    background-color: #EEEEEE;
    height:50px;
    width:50px;
    margin-left:0px;
    margin-bottom:25px; 
    position: relative;
}
.fixed-navbar {
    position: fixed;
    left: 20;
    top: 100;
  }

.circleContainercontact2:hover{
    background: linear-gradient(45deg, #ffb400, #ffc41d, #ffd332, #ffe345, #ffde44, #ffc535, #ffab2c, #ff912a); /* made at https://learnui.design/tools/gradient-generator.html */
    scale: 1.2;
    transition: 1s
}