.imageProject{
    height: 200px;
    width: 300px;
    margin-left: 0px;
    border-radius: 5px 5px 0px 0px ;
}
/* .imageProject:hover{
    transform: scale(1.05);
    transition: 0.9s;
} */
.projectcard{
    height: 440px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.projectcard:hover{
    scale: 1.03;
    transition: 1s;
}

.projectview{
    height: 35px;
    width: 120px;
    font-size: 13px;
    font-weight: 600;
    color: #FFB400;
    border: solid 2.5px #FFB400;
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 80px;
}

.projectview:hover{
    background-color: #FFB400;
}

.projectview:hover .buttonpara{
    color: #ffffff;
}

.outerCardDiv{
    margin-top: 30px;
    margin-left: 420px;
    border:#bebebe solid 1px;
    border-radius: 15px;
    width: 1100px;
    transition: transform 0.3s ease;
}
.outerCardDiv:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Increased opacity and blur radius for a darker shadow */
}

.cardImage{
    width: 1100px;
    border-radius: 15px 15px 0 0;
    height: 280px;
}
